.uploadForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  
    &__input {
      // Hide the input but make it accessible to screen readers
      opacity: 0;
      width: 0.1px;
      height: 0.1px;
      position: absolute;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }
    
    &__button {
      padding-right: 5px;
    //   background-color: #0044cc;
      color: black;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: inline-block; // Needed to apply dimensions
      text-decoration: underline;
      &:hover {
       color: #0044cc;
      }
    }
  }
  